*{
    box-sizing: border-box;
    max-width: 100%;
}

header {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #cccccc;
    margin-bottom: 40px;
    float: left;
    width: 25%;
}

h1{
    font-size: 6vw;
}

header a {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

.header{
    clear: both;
    overflow: auto;
}
nav{
    float: right;
    width: 74%;
}

.contentHolder{
    width: 750px;
    background-color: darkgrey;
    color: red;
    overflow-y: auto;
}
.links{
    float: left;
    padding: 20px;
    list-style-type: none;
}


#contact{
    background-color: #4aaaa5;
    color: #ffffff;
    width: max-content;
}

#portfolio-pic {
    float: left; 
    margin-top: 15px;
    width: 250px;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
}

.placeholderHolder{
    padding: 25px;
}

.left{
    float: left;
    width: 25%;
}

.right{
    float: right;
    width: 74%;
}

.image{
    margin: 30px;
    height: 100px;
    width: 100px;
    float: left;
}

.image1{
    background: url(../images/currencyConverter.jpeg);
    margin: 30px;
    height: 200px;
    width: 200px;
    float: left;
}
.image2{
    background: url(../images/dailyPlanner.png);
    margin: 30px;
    height: 200px;
    width: 200px;
    float: left;
}
.image3{
    background: url(../images/passowrdGenerator.png);
    margin: 30px;
    height: 200px;
    width: 200px;
    float: left;
}
.image4{
    background: url(../images/weatherDashboard.png);
    margin: 30px;
    height: 200px;
    width: 200px;
    float: left;
}
.imageText{
    padding-top: 50%;
    width: 100%;
}
.imageText h4 {
    background-color: #4aaaa5;
    color: #ffffff;
}

.Name{
    background-color: #4aaaa5;
    color: #ffffff;
}

.email{
    background-color: #4aaaa5;
    color: #ffffff
}

.Message{
    background-color: #4aaaa5;
    color: #ffffff;
}

.submit{
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 40px;
    border: 10px
}

.buffer{
    margin: 15px;
    color: #4aaaa5;
}
    

footer{
    clear: left;
 border-top: 8px solid;
 color: #ffffff;
 background-color: #666666;
 text-align: left;
 display: fixed; 
bottom: 0px;
position: fixed;
width: 100%;
text-align: center;
}