h1, h2, h3, h4, h5{
	color: white;
	font-weight: 300;
	font-family: 'Courier New', Courier, monospace
}

p {
	color: black;
	font-weight: 300;
  font-family: 'Courier New', Courier, monospace
}

body{
  background-color: black;
}

section {
	width:100%;
  margin: 40px 0;
  padding: 0 5%;
  background-color: green;
}

.section-heading {
	text-transform: uppercase;
  font-size: 1.6em;
}

hr {
	max-width:300px;
}


.navbar.navbar-default {
	background: none;
	border: none; 
  z-index: 1;
}


.navbar-default .navbar-text {
	color:white;
}

a{
  font-family: 'Courier New', Courier, monospace;
  color: gold;
}

.row-header {
  padding: 10vh 10vw 0 10vw;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-bottom:100px;
  display: flex;
  align-items: center;
  background-color: green;
}

.header-col {
	position: relative;
  background: red;
  border-radius: 5px;
  box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.18);
  bottom: -60px;
  padding: 30px 0;
  max-width:400px;
  margin:auto;
  font-family: 'Courier New', Courier, monospace;
}

.portfolio-pic {
	border-radius:50%;
	width:40%;
	max-width: 200px;
}

.header-col h2 {
	font-size: 1.3em;
  margin-bottom: 20px;
  margin-top: 0;
}

.email {
  margin-top:20px;
}

.email .glyphicon {
	margin-right:5px;
}

.list-container {
  max-width: 600px;
  margin: auto;
}

.techlogo {
	width:140px;
}

.tech-item {
	margin:10px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.tech-item-text {
	margin-top:10px;
}

.tech-item i {
	font-size:5em;
}

.tech-tool-item {
	margin-left:15px;
  display: inline-block;;
}

.row-footer {
	padding: 0vh 10vw 10vw 10vw;
	margin-top:100px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer-col {
	position: relative;
	text-align: center;
	font-size: large;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.18);
  top: -60px;
  padding: 50px 0;
  max-width:400px;
  margin:auto;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid red;
	color: white;
	border:0;
}

.footer{
  text-align: center;
  padding: 5px top;
  background-color: red;
  color: gold;
  font-family: 'Courier New', Courier, monospace;
}

#technical{
  color: white;
  background-color: brown;
}

#technical-2{
  background-color: dodgerblue;
  color: white;
}



